/* components/Header.module.css */

.light {
  background-color: #ffffff;
  color: #000000;
  /* other light theme styles */
}

.dark > header,
.dark > main {
  background-color: #000000;
  color: #ffffff;
  /* other dark theme styles */
}
